.container-2 {
    position: sticky;
    top: -8%; left: 0;
    margin-top: 1%;
    padding: 1%;
    background-color: #448c3f;
    color: white;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenedor de la tabla */
.table-responsive {
    position: sticky;
    top: -20%; left: 0;
    display: auto;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    margin-top: 1%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background: #e8e8e8;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Vista de la publicación que se abre al darle al botón de "Revisas" */
.container-revisar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #11173262;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.objetosVistaPrevia {
    display: flex;
    overflow: hidden;
    background-color: rgb(207, 208, 203);
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    height: 70%;
    max-height: 70%;
    min-height: 70%;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.feed {
    display: flex;
    top: 0; left: 0;
    margin-top: 0;
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    max-height: 0;
    z-index: 0;
    padding-right: 0;
}

.publicacionPrevia {
    margin-bottom: 1em;
    float: right;
    max-width: 30em;
    min-width: 30em;
    border-left: 6px solid blue;
    background-color: #e1e8ea;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 30em;
    text-decoration: none;
    height: auto;
}
.PublicacionesDentro {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    overflow-y: auto;
}
#text-center {
    display: flex;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    margin-left: 1px;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    flex-direction: column;
    padding: 10px 10px;
}

.btnRegresar-openView {
    display: flex;
	flex-direction: column;
	align-items: center;
    position:absolute; 
    max-width: 10%;
    background-color: #448c3f;
 
}
#text-center button {
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 1rem;
}

.btnAtras-openView{
    background-color: rgb(96, 96, 96);
    color: white;
    border: 1px solid hsl(0, 0%, 35%); 
    transition: background-color 0.3s, border-color 0.3s; 
    cursor: pointer;
}

.btnAtras-openView:hover {
    background-color: orangered;
    border-color: orangered;
}

.btnAceptar-openView {
    background-color: #007bff; 
    color: white;
    border: 1px solid hsl(211, 100%, 50%); 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
}

.btnAceptar-openView:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.btnEliminar-openView {
    background-color: #dc3545; 
    color: white;
    cursor: pointer;
    border: 1px solid #dc3545; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.btnEliminar-openView:hover {
    background-color: #c82333; 
    border-color: #c82333; 
}

.btn-success {
    background-color: #559050; 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1px;
    border-style: none;
    
}

.btn-success:hover {
    background-color: #000000; 
    color: #ffffff; 
}

/* Estilos para los encabezados de la tabla */
.table th {
    background: #559050; 
    padding: 0.8rem;
    color: #ffffff; 
    max-width: 1%;
    min-width: 1%;
    width: 1%;
}

/* Estilos para las celdas de la tabla */
.table td {
    text-align: center;
    padding: 0.8rem;
    border-bottom: 1px solid #e3e3e3; 
    transition: color 0.3s, background 0.3s;  
}

.table td:hover {
    background: #d8d8d8; 
}

.change {
    padding: auto;
    margin-top: 1%;
    margin-left: 35%;
    z-index: 1;
}

.btn-changeA {
    font-size: 17px;
    background-color: #007bff; 
    color: white;
    border: 1px solid hsl(211, 100%, 50%); 
    border-radius: 11px; 
    cursor: pointer; 
    padding: 5px 10px; 
    transition: background-color 0.3s, border-color 0.3s; 
    margin-right: 10px;
    border: 4px solid #000;
}

.btn-changeA:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.btn-changeI {
    font-size: 17px;
    background-color: #007bff; 
    color: white;
    border: 1px solid hsl(211, 100%, 50%); 
    border-radius: 11px; 
    cursor: pointer; 
    padding: 5px 10px; 
    transition: background-color 0.3s, border-color 0.3s; 
    margin-right: 10px;
    border: 4px solid #000;
}

.btn-changeI:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.btnRevisar {
    background-color: #007bff; 
    color: white;
    border: 1px solid hsl(211, 100%, 50%); 
    border-radius: 11px; 
    cursor: pointer; 
    padding: 5px 10px; 
    transition: background-color 0.3s, border-color 0.3s; 
    margin-right: 10px;
}

.btnRevisar:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.btnEliminar {
    background-color: #dc3545; 
    color: white;
    cursor: pointer;
    border: 1px solid #dc3545; 
    border-radius: 11px; 
    padding: 5px 10px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.btnEliminar:hover {
    background-color: #c82333; 
    border-color: #c82333; 
}

/* Estilos para la barra de búsqueda en la administración */
.busqueda-admin {
    position: sticky;
    top: -20%; left: 0;
    margin-top: 1%;
}

.row-buscar {
    position: relative;
    left: -2%;
}

.search-bar {
   margin-left: 32%;
    width: 40%; 
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

/* Estilo cuando se enfoca */
.search-bar:focus {
    outline: none; 
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9; 
}



